/* Home page css */
#canvas {
    padding: 60px;
}
#headerWrapper {
    position: relative;
    z-index: 999;
}
#header {
    position: relative;
}
#logo, #topNav {
    width: 100%;
    text-align: center;
    margin: 0;
}
.logo-image .logo {
    line-height: 0;
    margin: 0;
    display: inline-block;
    height: 62px;
}
.logo{
    width: 30%;
    margin: auto;
}
.heading{
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
}
h1 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Varela Round,arial,sans-serif;
    font-weight: normal;
    line-height: 1.4em;
    text-transform: normal;
    letter-spacing: 0px;
    font-family: europa;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    text-transform: none;
    font-size: 24px;
    letter-spacing: .1em;
    margin: 1em 0 0.5em;
}
h1, h2, h3, h4, .comment-count {
    color: #111;
}
.logo-image .logo img {
    max-height: 100%;
    max-width: 100%;
}
img {
    border: 0;
    vertical-align: middle;
}
.logo-subtitle {
    font-family: "Helvetica",arial,sans-serif;
    font-weight: normal;
    line-height: 2em;
    font-size: 12px;
    text-transform: normal;
    letter-spacing: 0px;
    font-family: europa;
    font-weight: 400;
    font-style: normal;
    line-height: 2.3em;
    text-transform: none;
    letter-spacing: .1em;
    font-size: 17px;
    color: #2b2b2b;
}
#logo, #topNav {
    float: left;
}
#topNav {
    position: relative;
    text-align: center;
}
 #topNav .main-nav {
    margin-right: -30px;
    
}
 #topNav nav,  #topNav ul,  #topNav li {
    display: inline;
    float: none;
}
#topNav ul{
    display: flex;
    float: none;
    align-items: center;
    width: 100%;
    margin: auto;
}

#topNav nav {
    position: relative;
    bottom: 0px;
    margin-top: 0;
    float: left;
}
#topNav nav {
    float: none;
}
#header nav, #header nav a {
    font-family: Arial,sans-serif;
    font-weight: normal;
    text-transform: normal;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: futura-pt;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    letter-spacing: .1em;
    font-size: 15px;
}
section {
    display: block;
}
#page {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;
}
#topNav nav li {
    float: left;
    margin-right: 30px;
    position: relative;
    width: 100%;
}
#topNav nav li a {
    line-height: 30px;
    display: inline-block;
}
.main-nav a {
    color: #9c9c9c;
}
.col{
    text-align: center;
}



/* home page */
img{
    width: 100%;
}
.grid-image img{
    height: 390px;
    width: 300px;
}
.row{
    margin-bottom: 3%;
}
.footer-img {
    height: 5%;
    width: 5%;
    background-color: #111;
    border-radius: 25px;
}
.social-links{
    text-align: center;
}